body {
    font-family:arial;
    font-size:11px;
	background:#2C3E50;
    }
 
#nav {
    margin:0;
    padding:0;
    list-style:none;
}   
 
#nav li {
    float:left;
    display:block;
    width:200px;
    background:#9B0014;
    position:relative;
    z-index:5
    margin:0 1px;
    -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
}
#nav li.first {
        -moz-border-radius:5px 0 0 5px;
        -webkit-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
    }
#nav li.last {
        -webkit-border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
        border-radius:0 5px 5px 0;
    }
#nav li li.last {
        -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
        border-radius:0 0 5px 5px;
    }
#nav li a {
    display:block;
    padding:8px 5px 0 5px;
    font-weight:700;
    height:23px;
    text-decoration:none;
    text-align:center;
    color:#333;
}
#nav li a:hover {
    color:#2C3E50;
}
#nav li li:hover {
    -webkit-transform: translate(+80px,0);
    }
#nav a.selected {
    color:#C00;
}
#nav ul {
    position:absolute;
    left:90;
    display:none;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
}
#nav ul li {
    width:200px;
    float:right;
    border-top:1px solid #fff;
}	

	
#nav ul a {
    display:block;
    height:auto;
    padding: 8px 5px;
    color:#666;
}
/* fix ie6, meglio inserirlo in un file .css separato */
*html #nav ul {
    margin:0 0 0 -2px;
}