<link href="menucollection.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="menucollection.js"></script>
<ul id="nav">
    
    <li><a href="https://phaidra.cab.unipd.it/detail_object/o:16503?mycoll=o:12794" class="selected">Tavole parietali scientifiche</a>
        <ul>
            <li><a href="https://phaidra.cab.unipd.it/detail_object/o:16503?mycoll=o:12794">Palaeontologische Wandtafeln</a></li>
            <li><a href="https://phaidra.cab.unipd.it/detail_object/o:12656?mycoll=o:16503">Collection Rémy Perrier & Cépède</a></li>
            
        </ul>
        <div class="clear"></div>
    </li>
	
	
   <li><a href="https://phaidra.cab.unipd.it/detail_object/o:269365?mycoll=o:266081" class="selected">L'erbario di Giovanni Marsili</a>
        <ul>
            <li><a href="https://phaidra.cab.unipd.it/detail_object/o:266081?mycoll=o:269365">Erbario Marsili - Lettera A</a></li>
            
            
        </ul>
        <div class="clear"></div>
    </li>